@import url("https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --animate-scroll: scroll 20s linear infinite;

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - 10%));
    }
  }
  --breakpoint-xs: 25rem;

  --color-text-primary: rgba(0, 0, 0, 0.6);
  --color-heading-background: rgba(0, 0, 0);
  --color-rating-stars: rgba(255, 198, 51, 1);
  --color-in-stock: rgba(1, 171, 49, 1);
  --color-border-container: rgba(0, 0, 0, 0.1);
  --color-category-background: rgba(240, 240, 240, 1);
  --color-discount-background: rgba(255, 51, 51, 0.1);
  --color-discount-text: rgba(255, 51, 51, 1);
  --color-badge: rgba(214, 220, 229, 1);

  --font-lexend: "Lexend", "sans-serif";
  --font-hubot: "Hubot Sans", "sans-serif";
}
